.MyLoader {
    display: block;
    padding-top: 60px;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .MyLoader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: MyLoader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .MyLoader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .MyLoader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .MyLoader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes MyLoader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  