.MyImage {
    object-fit: cover;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    &::after {
        content: "Image is lost";
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 9;
        border-radius: 10px;
        background-color: #1E1E1E;
        font-size: 20px;
    }
}